<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About Us</h2>
        <p>We are data engineers students at INPT. We are passionate about helping 
          people all over the world. This is why we have 
          developed this platform which will detect plant diseases and propose solutions.</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          <img src="static/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
          <br>
          <h3>What is the INPT school ?</h3>
          <br>
          <p>
            In parallel with the development of solid scientific and technical skills leading
             to the art of solving complex problems, the INPT aims to instill in future 
             engineers the spirit of leadership. To do this, we encourage them to develop
              their knowledge of the business world as well as their project management and
               teamwork skills, all combined with good communication skills and a dynamic
                student life, friendly and rich in terms of events within our campus.<br/>
                In order to promote the integration of its graduates into society as a whole, 
                the INPT has adopted a new pedagogical approach which consists in meeting the 
                challenges and meeting the needs of companies in terms of interactivity.
         </p>
        </div>
      </div>

    </div>
  </section>