<section id="appointment" class="appointment section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Get started</h2>
          <p>Start diagnosing and protecting your plants today with our easy-to-use platform. Simply upload images of your plants and receive detailed analysis and recommendations. Get started now and take control of your plant health.</p>
      </div>
          
      <div class="text-center"><br>
        <button type="submit" class='get-started-btn' onclick="location.href='{{url_for('chosing_plant')}}'">Get started</button>
      </div>

    </div>
</section>