<section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

      <div class="text-center">
        <h3>In an emergency? Need help now?</h3>
        <p>If you think that your plant has become sick and you want to know the 
          type of disease in order to take care of it. You just need to upload images 
        of your plant so that we can detecte the malady and give you some solutions.</p>
        <a class="cta-btn scrollto" href="#appointment">Upload your plant's images</a>
      </div>

    </div>
  </section>