<section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Frequently Asked Questioins</h2>
      <p>Find answers to the most common questions about our plant disease identification and prevention services. From how our deep learning algorithm works to how to use our mobile app, our FAQ section has everything you need to know. If you can't find the answer you're looking for, feel free to contact our support team.
      </p>
    </div>

    <ul class="faq-list">

      <li>
        <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">What types of plants can I diagnose using your platform?
          <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq1" class="collapse" data-bs-parent=".faq-list">
          <p>
            Our platform supports the diagnosis of a wide range of plants, including fruits, vegetables, herbs, and ornamental plants.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">How accurate is your plant disease identification service?
          <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq2" class="collapse" data-bs-parent=".faq-list">
          <p>
            Our platform uses state-of-the-art deep learning algorithms and image recognition technologies that have been trained on a vast database of plant diseases, making our identification service highly accurate and reliable.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Can I prevent plant diseases before they happen?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq3" class="collapse" data-bs-parent=".faq-list">
          <p>
            Yes! Our platform not only helps you identify plant diseases but also provides tips and recommendations on how to prevent and manage them effectively.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">How do I upload images of my plants for diagnosis? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq4" class="collapse" data-bs-parent=".faq-list">
          <p>
            Our platform has an easy-to-use image upload feature that allows you to upload images of your plants directly from your phone or computer. Simply follow the instructions on our platform to upload and receive detailed analysis and recommendations.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">How do I know if my plant has a disease? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq5" class="collapse" data-bs-parent=".faq-list">
          <p>
            Some common signs of plant diseases include discoloration or wilting of leaves, abnormal growth, and unusual spots or lesions on the leaves or stem. Our platform can help you identify these symptoms and diagnose the underlying disease.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">How long does it take to get a diagnosis? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq6" class="collapse" data-bs-parent=".faq-list">
          <p>
            Our platform uses advanced algorithms to analyze your plant images and provide a diagnosis within minutes. However, in some cases, further analysis may be needed, and it may take a bit longer to receive a complete diagnosis and recommendation.
          </p>
        </div>
      </li>

    </ul>

  </div>
</section>