<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(static/img/slides/slide-1.jpg)">
          <div class="container">
            <h2>Welcome to <span>Green Robot</span></h2>
            <p>Agriculture is the mainstay of many countries. Due to population growth, 
              the demand for food is steadily increasing. To satisfy this pressing need, 
              it is necessary to increase agricultural productivity and protect crops. 
              Nevertheless, crops are highly prone to different diseases due to a large 
              number of pathogens present in their environment. 
              So, our mission is to help you to identify diseased plants and treat them.</p>
            <a href="#about" class="btn-get-started scrollto">Read More</a>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(static/img/slides/slide-2.jpg)">
          <div class="container">
            <h2>With us identification of diseases is more easy</h2>
            <p>Early identification of diseases is crucial to avoid huge losses and reduce the 
              excessive use of pesticides, which can harm human health and the environment. 
              In most cases, and especially in developing countries and small farms, farmers
               identify crop diseases with the naked eye based on visual symptoms. This is 
               a tedious task that requires expertise in plant pathology and excessive 
               treatment time. Thus, this method of visual observation is not practical and 
               feasible for large farms and may even yield erroneous predictions due to 
               biased decisions</p>
            <a href="#about" class="btn-get-started scrollto">Read More</a>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(static/img/slides/slide-3.jpg)">
          <div class="container">
            <h2>Our main objectives</h2>
            <p>Our website aims to help farmers and plant enthusiasts to identify diseases 
              in their plants and provide tips to prevent and manage them.The platform then
               provides a detailed description of the identified disease and offers useful 
               tips on how to prevent and manage it. Our goal is to empower plant owners to
                take control of their plant health and reduce the negative impact of diseases 
                on their plants and crops.</p>
            <a href="#about" class="btn-get-started scrollto">Read More</a>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section>