<section id="services" class="services services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
       --></div>

      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon"><i class="fa-solid fa-magnifying-glass-chart"></i></div>
          <h4 class="title"><a href="">Identifying the plant disease</a></h4>
          <p class="description">Our plant disease identification service uses cutting-edge deep learning algorithms to quickly and accurately diagnose diseases in your plants.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon"><i class="fas fa-pills"></i></div>
          <h4 class="title"><a href="">Proposing Tips for treatment  </a></h4>
            <p class="description">With our easy-to-use platform, you can upload images of your plants and receive detailed reports on any signs of disease. Take control of your plant health and protect your crops with our reliable and efficient service.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon"><i class="fas fa-hospital-user"></i></div>
            <h4 class="title"><a href="">Suggesting Agronomist & medicine companies </a></h4>
            <p class="description">Looking for expert advice on plant health and disease management? Our platform connects you with top-rated agronomists and medicine companies that specialize in plant health.</p>
        </div>
    </div>
  </section>