{% extends 'layout.html' %}

{% block content %}
    <!-- ======= Hero Section ======= -->
    {% include 'templates_sections/hero_section.html' %}
    <!-- End Hero -->

    <!-- ======= Cta Section ======= -->
    {% include 'templates_sections/cta_section.html' %}
    <!-- End Cta Section -->

    <!-- ======= About Us Section ======= -->
    {% include 'templates_sections/about_us_section.html' %}
    <!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    {% include 'templates_sections/services_section.html' %}
    <!-- End Services Section -->

    <!-- ======= Appointment Section ======= -->
    {% include 'templates_sections/appointment_section.html' %}
    <!-- End Appointment Section -->
    
    <!-- ======= Team Section ======= -->
    {% include 'templates_sections/team_section.html' %}
    <!-- End Team Section -->

    <!-- ======= Frequently Asked Questioins Section ======= -->
    {% include 'templates_sections/frequently_asked_questioins_section.html' %}
    <!-- End Frequently Asked Questioins Section -->

    <!-- ======= Contact Section ======= -->
    {% include 'templates_sections/contact_section.html' %}
    <!-- End Contact Section -->

{% endblock  content%}
